<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Binary CPT Project" alt=""></td>
        <td><a href="{{site.baseurl}}/binarycpt/home">Home</a></td>
        <td><a href="{{site.baseurl}}/binarycpt/steganography">Steganography</a></td>
        <td><a href="{{site.baseurl}}/binarycpt/colorgen">Color Generator</a></td>
        <td><a href="{{site.baseurl}}/binarycpt/counting-sheep">Counting Sheep</a></td>
        <td><a href="{{site.baseurl}}/binarycpt/ascii-art">Ascii Art</a></td>
        <td><a href="{{site.baseurl}}/binarycpt/password-combiner">Password Combiner</a></td>
    </tr>
</table>